In [1]:
import pandas as pd

In [41]:
df = pd.read_csv('data.csv')

In [42]:
df.fillna(-99999, inplace=True)

In [43]:
df

,id,a,b,c,d,e
0,2020/1/1,42.083322,-99999.000000,51.266481,84.100519,5744.750835
1,2020/1/2,23.385573,12.825147,85.489849,-99999.000000,6637.642329
2,2020/1/3,95.773918,77.185096,-99999.000000,53.160766,9024.408666
3,2020/1/4,58.774991,-99999.000000,84.352260,63.592803,1434.574665
4,2020/1/5,-99999.000000,48.137527,87.021384,-99999.000000,2725.298814
...,...,...,...,...,...,...
90,2020/3/31,1.258869,48.169637,74.820234,16.200904,3439.936949
91,2020/4/1,50.446444,17.611496,86.146159,90.689849,9721.236501
92,2020/4/2,30.251525,59.340078,18.685092,0.943934,4451.867232
93,2020/4/3,31.908784,37.014561,40.687149,21.390995,1789.491339
94,2020/4/4,41.266262,67.561362,31.801977,13.748895,7347.711672

In [34]:
df

,id,a,b,c,d,e
0,2020/1/1,42.083322,-99999.000000,51.266481,84.100519,9.115589
1,2020/1/2,23.385573,12.825147,85.489849,-99999.000000,33.261948
2,2020/1/3,95.773918,77.185096,-99999.000000,53.160766,55.392631
3,2020/1/4,58.774991,-99999.000000,84.352260,63.592803,92.266780
4,2020/1/5,-99999.000000,48.137527,87.021384,-99999.000000,49.957537
...,...,...,...,...,...,...
90,2020/3/31,1.258869,48.169637,74.820234,16.200904,41.845447
91,2020/4/1,50.446444,17.611496,86.146159,90.689849,29.542353
92,2020/4/2,30.251525,59.340078,18.685092,0.943934,31.097525
93,2020/4/3,31.908784,37.014561,40.687149,21.390995,23.306365
94,2020/4/4,41.266262,67.561362,31.801977,13.748895,85.599541

In [44]:
pre_days = 3

In [45]:
X = df[['b', 'c', 'd', 'e']]

y = df['a']

X_lately = X[(len(X)-pre_days):]

In [46]:
X

               b             c             d            e
0  -99999.000000     51.266481     84.100519  5744.750835
1      12.825147     85.489849 -99999.000000  6637.642329
2      77.185096 -99999.000000     53.160766  9024.408666
3  -99999.000000     84.352260     63.592803  1434.574665
4      48.137527     87.021384 -99999.000000  2725.298814
..           ...           ...           ...          ...
90     48.169637     74.820234     16.200904  3439.936949
91     17.611496     86.146159     90.689849  9721.236501
92     59.340078     18.685092      0.943934  4451.867232
93     37.014561     40.687149     21.390995  1789.491339
94     67.561362     31.801977     13.748895  7347.711672

[95 rows x 4 columns]

In [7]:
y

0     42.083322
1     23.385573
2     95.773918
3     58.774991
4     45.447274
        ...
95     3.131227
96    84.580846
97    63.821090
98    57.124341
99    97.745272
Name: a, Length: 100, dtype: float64

In [8]:
X_lately

            b          c          d          e
97  59.340078  18.685092   0.943934  31.097525
98  37.014561  40.687149  21.390995  23.306365
99  67.561362  31.801977  13.748895  85.599541

In [47]:
from sklearn import preprocessing, model_selection, svm

In [48]:
XX = preprocessing.scale(X)

d:\python\python37\lib\site-packages\sklearn\preprocessing\data.py:172: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [49]:
XX

array([[-6.81907735,  0.10282306, -0.10314212,  0.36250105],
       [ 0.14393616,  0.10617463, -0.10314212,  0.69293701],
       [ 0.14841703, -9.69532988, -0.10314212,  1.57621726],
       [-6.81907735,  0.10606323, -0.10314212, -1.23258326],
       [ 0.14639468,  0.10632462, -0.10314212, -0.75491976],
       [ 0.14781656,  0.10298497, -0.10314212,  0.91806929],
       [ 0.14312268,  0.10114595,  9.69535971, -1.07858509],
       [ 0.14700305,  0.10504573, -0.10314212,  0.48434039],
       [ 0.14466078,  0.10299574, -0.10314212,  1.45248495],
       [ 0.14363384,  0.107182  , -0.10314212,  0.75629195],
       [ 0.14838885,  0.10701548, -0.10314212,  0.39252548],
       [ 0.14660959,  0.10634485, -0.10314212, -1.52125561],
       [ 0.14678337,  0.10149327, -0.10314212, -0.95209822],
       [ 0.14326959,  0.10214652, -0.10314212,  1.29022195],
       [ 0.14877952,  0.10364056, -0.10314212,  0.02137537],
       [ 0.14458464,  0.09987597, -0.10314212,  1.03928545],
       [ 0.14679016,  0.10316692, -0.10314212,  0.3441913 ],
       [ 0.14866566,  0.10617588, -0.10314212, -1.24019819],
       [ 0.14361094,  0.10284516, -0.10314212, -1.61514755],
       [ 0.1468662 ,  0.10187485, -0.10314212, -0.9125863 ],
       [ 0.14464519,  0.10221137, -0.10314212, -1.32135153],
       [ 0.14949383,  0.09971853, -0.10314212,  0.84661929],
       [ 0.14989831,  0.10429208, -0.10314212, -1.30772271],
       [ 0.14777268,  0.10141839, -0.10314212,  0.309158  ],
       [ 0.14426708,  0.10166323, -0.10314212,  1.25070355],
       [ 0.14782489,  0.10095649, -0.10314212,  0.92027576],
       [ 0.14649202,  0.0995796 , -0.10314212, -0.64106322],
       [ 0.14993492,  0.10624579, -0.10314212, -1.55826714],
       [ 0.14399101,  0.10347851, -0.10314212, -0.81466386],
       [ 0.14868599,  0.10454096, -0.10314212,  1.85833662],
       [ 0.14525362,  0.10619011, -0.10314212, -0.723232  ],
       [ 0.14528475,  0.10470298, -0.10314212, -0.47523796],
       [ 0.14406985,  0.10259912, -0.10314212,  0.83973668],
       [ 0.14347846,  0.09800914, -0.10314212, -1.70704338],
       [ 0.14474223,  0.10409603, -0.10314212, -0.53757323],
       [ 0.14747412,  0.09964694, -0.10314212,  1.3727464 ],
       [ 0.14851504,  0.09990732, -0.10314212, -1.29802143],
       [ 0.14794669,  0.10089711, -0.10314212, -0.7297805 ],
       [ 0.14581003,  0.10628018, -0.10314212,  0.1562152 ],
       [ 0.14547259,  0.10341225, -0.10314212, -0.96671367],
       [ 0.14719381,  0.10331471, -0.10314212, -0.87191149],
       [ 0.14991351,  0.10522218, -0.10314212,  1.66872144],
       [ 0.14943106,  0.10335146, -0.10314212,  0.89379086],
       [ 0.14607573,  0.10486312, -0.10314212,  0.55121359],
       [ 0.14550783,  0.1006098 , -0.10314212,  1.53003119],
       [ 0.14874291,  0.10135759, -0.10314212,  0.16484799],
       [ 0.14928285,  0.10297048, -0.10314212,  0.4800457 ],
       [ 0.14613072,  0.10567926, -0.10314212,  0.652229  ],
       [ 0.14938208,  0.10297677, -0.10314212,  0.68885635],
       [ 0.14898828,  0.10588207, -0.10314212, -0.33780883],
       [ 0.14317771,  0.09866725, -0.10314212, -1.42897262],
       [ 0.14820229,  0.10510871, -0.10314212,  1.3286471 ],
       [ 0.14748178,  0.10100371, -0.10314212, -0.13210608],
       [ 0.14398155,  0.10461063, -0.10314212,  1.04172167],
       [ 0.14786847,  0.10665216, -0.10314212,  0.05656115],
       [ 0.14653521,  0.10205813, -0.10314212, -0.15636313],
       [ 0.14305373,  0.10154197, -0.10314212, -0.13469207],
       [ 0.14720812,  0.09878105, -0.10314212,  0.50196248],
       [ 0.14341831,  0.10202692, -0.10314212,  0.93497792],
       [ 0.14750479,  0.10533429, -0.10314212,  1.48533629],
       [ 0.14996626,  0.10282499, -0.10314212, -0.95432196],
       [ 0.14478311,  0.10725914, -0.10314212,  0.29631972],
       [ 0.14464717,  0.09941669, -0.10314212, -0.74600129],
       [ 0.14722105,  0.10408522, -0.10314212,  1.69574122],
       [ 0.14600189,  0.10156531, -0.10314212,  0.70733783],
       [ 0.14844365,  0.10619345, -0.10314212,  0.91239066],
       [ 0.14926235,  0.10481284, -0.10314212, -0.59913467],
       [ 0.14718264,  0.10546638, -0.10314212, -1.41096618],
       [ 0.14347815,  0.1018315 , -0.10314212, -1.06140627],
       [ 0.14534838,  0.1052484 , -0.10314212, -1.27783273],
       [ 0.14579069,  0.09836794, -0.10314212,  1.34057254],
       [ 0.14740506,  0.1048586 , -0.10314212, -0.15441776],
       [ 0.14481761,  0.10303903, -0.10314212,  0.69590409],
       [ 0.14922682,  0.1011556 , -0.10314212,  0.96881763],
       [ 0.14728514,  0.1062784 , -0.10314212, -0.96785246],
       [ 0.14349562,  0.1002531 , -0.10314212, -1.09709422],
       [ 0.14691589,  0.10223156, -0.10314212, -1.05789785],
       [ 0.14967391,  0.10703305, -0.10314212,  0.10496007],
       [ 0.14694996,  0.10433604, -0.10314212, -0.49540044],
       [ 0.14837786,  0.10246256, -0.10314212,  0.11066011],
       [ 0.14866192,  0.10757458, -0.10314212,  0.55228914],
       [ 0.14876186,  0.10275112, -0.10314212, -1.48636898],
       [ 0.14754379,  0.10070844, -0.10314212, -1.7555615 ],
       [ 0.14423734,  0.1062488 , -0.10314212, -1.21589113],
       [ 0.14727124,  0.10651879, -0.10314212,  0.36367639],
       [ 0.14792111,  0.09824452, -0.10314212,  0.43194673],
       [ 0.14897732,  0.10291659, -0.10314212,  1.54710255],
       [ 0.14568243,  0.10043537, -0.10314212, -0.4385129 ],
       [ 0.14323085,  0.10111764, -0.10314212,  0.11985719],
       [ 0.14891812,  0.09921171, -0.10314212, -0.62435259],
       [ 0.14639691,  0.10512973, -0.10314212, -0.49045074],
       [ 0.1442694 ,  0.10623891, -0.10314212,  1.83409516],
       [ 0.14717462,  0.09963229, -0.10314212, -0.11596161],
       [ 0.14562028,  0.101787  , -0.10314212, -1.10123781],
       [ 0.147747  ,  0.10091685, -0.10314212,  0.95571524]])

In [51]:
XX = pd.DataFrame(XX)

In [52]:
XX.to_csv('XX.csv')